.imgg{
  display:inline-block;
  width: 33px;
  height: 44px;
  margin: 20px 10px 0px 650px;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/