<div id = "MainProducts">
<div *ngFor="let product of products" style = "white-space: pre-line" class="prods">

  <h3>
    <a [title]="product.name + ' details'" href="{{product.amazonLink}}">
      {{ product.name }}
    </a>
  </h3>
  <img src="{{product.imageSrc}}" />
  <p *ngIf="product.description" >
    Description: {{ product.description }}
  </p>
  <p *ngIf="product.rating">
    Rating: {{ product.rating }}
  </p>
  <p *ngIf="product.price"> Price: {{product.price}}$
  </p>
  <span id="Butt">
  <a [href] = "'https://telegram.me/share/url?url=' + product.amazonLink " target="_blank">
  <button type="button" (click)="share()">
    Share
  </button>
  </a>
    <a [href] = "'https://web.whatsapp.com/send?text=' + product.amazonLink">WhatsApp Sharing</a>


  <app-product-alerts
    [product]="product"
    (notify)="onNotify()">
  </app-product-alerts>
  </span>
</div>
</div>
