<h2>Products</h2>

<div *ngFor="let product of products">

  <h3>
    <a [title]="product.name + ' details'" href="{{product.amazonLink}}">
      {{ product.name }}
    </a>
  </h3>
  <img src="{{product.imageSrc}}" />
  <p *ngIf="product.description">
    Description: {{ product.description }}
  </p>
  <p *ngIf="product.rating">
  Rating: {{ product.rating }}
</p>
<p *ngIf="product.price"> Price: {{product.price}}$
</p>
<a [href] = "'https://telegram.me/share/url?url=' + product.amazonLink " target="_blank">
  <button type="button" (click)="share()">
    Share
  </button>
  </a>
   


</div>